
 * @file
 * Layout Styling (DIV Positioning)
 *
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * This layout is based on the Zen Columns layout method.
 *   http://drupal.org/node/201428
 *
 * Only CSS that affects the layout (positioning) of major elements should be
 * listed here.  Such as:
 *   display, position, float, clear, width, height, min-width, min-height
 *   margin, border, padding, overflow
 */


/*
 * Body
 */
body {
	font-size:1em !important;
	font-family:Roboto,Arial,Helvetica,sans-serif !important;
	color:#333333;
}

body, caption, th, td, input, textarea, select, option, legend, fieldset {
	font-size:inherit;
	font-family:Roboto,Arial,Helvetica,sans-serif !important;
}

#page {
	background:#fffefe;
	box-shadow:0 0 15px #666666;
	font-size:1em;
	line-height:1.5em;
}
h1 {
    margin:10px 0 .5em 0;
	font-size:2em;
    font-family:'Roboto Slab',Roboto,Arial,Helvetica,sans-serif;
    color:#00274c;
    line-height:1.2em;
}
h2 {
    margin:.75em 0 .5em 0;
	font-size:1.75em;
    font-family:'Roboto Slab',Roboto,Arial,Helvetica,sans-serif;
    color:#40658f;
    line-height:1.2em;
}
h3 {
    margin:.75em 0 .5em 0;
	font-size:1.5em;
    font-family:'Roboto Slab',Roboto,Arial,Helvetica,sans-serif;
    color:#555555;
    line-height:1.2em;
}
h4 {
    margin:.75em 0 .5em 0;
	font-size:1.25em;
    font-family:'Roboto Slab',Roboto,Arial,Helvetica,sans-serif;
    line-height:1.2em;
}

p {
	margin-top:0;
}

/*
 * Default Page Link Colors
 */
a:link {
	color:#0075bc;
}
a:visited {
	color:#0075bc;
}
a:hover {
	color:#cc3300;
}
a:active {
	color:#cc6600;
}

#page-wrapper,
.region-bottom {
  /*
   * If you want to make the page a fixed width and centered in the viewport,
   * this is the standards-compliant way to do that. See also the ie6.css file
   * for the necessary IE5/IE6quirks hack to center a div.
   */
	width:920px;
	width:auto !important;
	max-width:960px !important;
	margin:0 auto 0 auto;
	padding:0;
/*	padding:0 20px 0 20px;*/
/*	background:#cc0000;*/
}

#page {
}

/*
 * Header
 */
#header {
	height:177px !important;
}

#header .section {
}

.region-header {
}

#block-block-1 {
	padding:0 !important;
}
.mfa-project-banner {
	background:#40658f url('/projects/mfauth/sites/all/themes/zen_services_crazy_banner/images/mfa-project-banner.png') 20px center no-repeat;
	width:100%;
	height:100px;
	margin:0;
	padding:0;
	text-indent:-99998px;
}

/*
 * Main (container for everything else)
 */
#main-wrapper {
	position: relative;
	margin:0;
	padding:0 20px 0 20px;
}

#main {
}

/*
 * Content
 */
#content,
.no-sidebars #content {
  float: left; /* LTR */
  width: 880px;
  margin-left: 0; /* LTR */
  margin-right: -880px; /* LTR */ /* Negative value of #content's width + left margin. */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to #content .section. */
}

.sidebar-first #content {
  width: 650px;
  margin-left: 200px; /* LTR */ /* The width of .region-sidebar-first. */
  margin-right: -940px; /* LTR */ /* Negative value of #content's width + left margin. */
}

/*styles for when only the second sidebar exists:*/
.sidebar-second #content {
  width: 700px;
  margin-left: 0; /* LTR */
  margin-right: -700px; /* LTR */ /* Negative value of #content's width + left margin. */
}

.two-sidebars #content {
  width: 500px;
  margin-left: 180px; /* LTR */ /* The width of .region-sidebar-first */
  margin-right: -680px; /* LTR */ /* Negative value of #content's width + left margin. */
}

#content .section {
  margin: 0;
  padding: 0;
}

/*
 * Navigation
 */
#navigation {
  float: left; /* LTR */
  width: 100%;
  margin-left: 0; /* LTR */
  margin-right: -100%; /* LTR */ /* Negative value of #navigation's width + left margin. */
  padding: 0 !important; /* DO NOT CHANGE. Add padding or margin to #navigation .section. */
  height: 40px; /* The navigation can have any arbritrary height. We picked one
                    that is the line-height plus 1em: 1.3 + 1 = 2.3
                    Set this to the same value as the margin-top below. */
}

.with-navigation #content,
.with-navigation .region-sidebar-first,
.with-navigation .region-sidebar-second {
  margin-top: 60px; /* Set this to the same value as the navigation height above. */
}

#navigation .section {
	margin:0 -20px 0 -20px;
	background:#40658f;
}

/*
 * First sidebar
 */
.region-sidebar-first {
  float: left; /* LTR */
  width: 160px;
  margin-left: 0; /* LTR */
  margin-right: -200px; /* LTR */ /* Negative value of .region-sidebar-first's width + left margin. */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to .region-sidebar-first .section. */
}

.region-sidebar-first .section {
  margin: 0 20px 0 0; /* LTR */
  padding: 0;
}

/*sidebar fist nav*/
.region-sidebar-first ul {padding:8px 0 0 0; margin:0;}
.region-sidebar-first ul li {list-style-image:none;list-style:none;padding:6px 0 6px 6px;border-bottom:1px solid #CCC;}
.region-sidebar-first li a {text-decoration:none;display:block;min-width:120px !important;}
.region-sidebar-first li:hover {background-color:#eee;}
/*
 * Second sidebar
 */
.region-sidebar-second {
  float: left; /* LTR */
  width: 190px;
  margin-left: 740px; /* LTR */ /* Width of content + sidebar-first. */
  margin-right: -940px; /* LTR */ /* Negative value of .region-sidebar-second's width + left margin. */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to .region-sidebar-second .section. */
}

.region-sidebar-second .section {
  margin: 0 0 0 20px; /* LTR */
  padding: 0;
}

form th {
	font-size:1.75em;
    font-family:'Roboto Slab',Roboto,Arial,Helvetica,sans-serif;
    color:#40658f;
    line-height:1.2em;
	border-bottom:0 !important;
}
form tbody {
	border-top:0 !important;
}
fieldset.date-combo .container-inline-date .date-padding {
	padding:0 0 10px 0;
}
.form-item .description {
	color:#655a52;
}
input[type='text'] {
	padding:5px;
}
input[type='submit'], input[type='file'] {
	font-size:.9em;
	cursor:pointer;
}
input[type='submit'] {
	padding:3px 12px 3px 12px;
}
#block-formblock-application #edit-submit {
	margin-bottom:2em;
	padding:6px 24px;
	background:#40658f;
	border:0;
	border-radius:4px;
	font-size:inherit;
	font-weight:normal;
	color:#ffffff;
	cursor:pointer;
}
#block-formblock-application #edit-submit:hover, 
#block-formblock-application #edit-submit:focus, 
#block-formblock-application #edit-submit:active {
	background:#567daa;
}



/*
 * Footer
 */
.region-footer {
	color:#ffffff;
	background:#333333;
	margin:1.5em 0 0 0;
	padding:20px;
}
.region-footer .block {
	margin:0;
}
.region-footer .umich {
	float:left;
	margin:0 40px 2em 0;
	padding:0;
	white-space:nowrap;
}
.region-footer .umich a {
	display:block;
	width:140px;
	height:152px;
	background:#00274c url('/sites/all/themes/bootstrap_its/images/um-logo-m72.png') no-repeat;
	background-size:contain;
	text-indent:-99999px;
	overflow:hidden;
}
@media (-webkit-min-device-pixel-ratio:2) { 
	.region-footer .umich a {
		background:#00274c url('/sites/all/themes/zen_student_jobs/images/um-logo-m144.png') no-repeat;
		background-size:contain;
	}
}
.region-footer .umich a:focus {
	outline:thin dotted #ffffff;
}
.region-footer .links {
	float:left;
	margin:0 40px 2em 0;
	padding:0;
	white-space:nowrap;
}
.region-footer .links.right {
	float:right;
}
.region-footer .links ul {
	margin:0 0 0 10px;
	padding:0 0 0 10px;
}
.region-footer .links ul li {
	color:#555555;
	margin:.5em 0 0 0;
}
.region-footer .links.right ul li:first-child {
	margin:0;
}
.region-footer .links h2 {
	margin:auto;
	font-size:1em;
	font-family:Roboto,Arial,Helvetica,sans-serif;
	color:#ffffff;
	line-height:inherit;
}
.region-footer .links a {
	margin-right:5px;
}
.region-footer a:link, .region-footer a:visited {
	color:#ffffff;
	text-decoration:none;
}
.region-footer a:hover {
	color:#ffcb05;
	text-decoration:underline;
}
.region-footer a:active {
	color:#ffcb05;
	text-decoration:underline;
}
.copyright {
	clear:both;
	font-size:.85em;
}
.copyright a:link, .copyright a:visited {
	color:#9b9b9b;
	text-decoration:none;
}
.copyright a:hover {
	color:#ffcb05;
	text-decoration:underline;
}



/*
 * Page bottom
 */
.region-bottom /* See also the #page-wrapper declaration above that this div shares. */ {
}

/*
 * Prevent overflowing content
 */
#header,
#content,
#navigation,
.region-sidebar-first,
.region-sidebar-second,
.region-footer,
.region-bottom {
  overflow: visible;
  word-wrap: break-word; /* A very nice CSS3 property */
}

/*
 * If a div.clearfix doesn't have any content after it and its bottom edge
 * touches the bottom of the viewport, Firefox and Safari will mistakenly
 * place several pixels worth of space between the bottom of the div and the
 * bottom of the viewport. Uncomment this CSS property to fix this.
 * Note: with some over-large content, this property might cause scrollbars
 * to appear on the #page-wrapper div.
 */
/*
#page-wrapper {
  overflow-y: hidden;
}
*/

.cke_panel_list {background-color:#FFF !important;}

.ckeditor-mod {background-color:#FFF !important;}

.cke_contents {background-color:#FFF !important;}

.cke_show_borders {background-color:#FFF !important;}

.CSS1Compat {background-color:#FFF !important;}


.cke_panel_list body {background-color:#FFF !important;}

.ckeditor-mod body {background-color:#FFF !important;}

.cke_contents body {background-color:#FFF !important;}

.cke_show_borders body {background-color:#FFF !important;}

.CSS1Compat body {background-color:#FFF !important;}


/* DOUGHB CSS */

#search-block-form {
	width:200px;
	margin:20px 0 0 0;
	padding:0;
}
#edit-search-block-form--2 {
	margin:0;
/*	padding:10px;*/
	padding:0;
}
#edit-submit--2 {
	/*background:#006600;*/
/*	margin:0 10px 0 0;*/
	margin:0;
	
}

#site-slogan {
	width:620px;
	float:right;
	text-align:right;
	font-weight:bold;
	color:#ffffff;
	margin:55px 10px 0 0;
	padding:0;
	line-height:20px;
}

ul.get-help {
	margin:0 !important;
	padding:0 !important;
	list-style:none;
}
ul.get-help li {
	min-height:16px;
/*	margin:0 0 .85em 0;*/
	margin:0;
	padding:0 0 0 20px;
}
ul.get-help li a {
	display:block;
}
ul.get-help li.request {
	background:#ffffff url('/sites/all/themes/zen_services/images/online-service-request.png') 0 .2em no-repeat;
}
ul.get-help li.email {
	background:#ffffff url('/sites/all/themes/zen_services/images/icon-email.png') 0 .2em no-repeat;
}
ul.get-help li.phone {
	background:#ffffff url('/sites/all/themes/zen_services/images/icon-phone.png') 0 .2em no-repeat;
}
ul.get-help li.docs {
	background:#ffffff url('/sites/all/themes/zen_services/images/icon-documentation.png') 0 .2em no-repeat;
}

.field-name-field-service-status,
.field-name-field-link-to-separate-site,
.field-name-field-nonportal-web-app-link {
	margin-bottom:1.5em;
}

.field-name-field-request-button-link {
	margin-bottom:1.5em;
	text-align:right;
}
.field-name-field-request-button-link a {
	padding:.5em 1.25em .5em 1.25em;
	text-decoration:none;
	font-weight:bold;
}
.field-name-field-request-button-link a:link, .field-name-field-request-button-link a:visited {
	border:1px solid #ffcc00;
	background:#ffffcc;
	color:#005596;
}
.field-name-field-request-button-link a:hover {
	border:1px solid #005596;
	background:#005596;
	color:#ffffff;
}
.field-group-htab {
	margin:0;
	padding:0;
	width:auto;
}
.field-collection-container,
.field-item {
	width:auto;
	margin:0;
	padding:0;
	border:0;
}


.views-table {
	border-collapse:collapse;
}
.views-table th {
	padding:10px;
	background:#005596;
	border-bottom:1px solid #cccccc;
	color:#ffffff;
}
.views-table th a:link, .views-table th a:visited {
	color:#ffcc00;
}
.views-table th a:hover, .views-table th a:active {
	color:#bac9e1;
}
.views-table td {
	padding:10px;
	border-bottom:1px solid #cccccc;
	vertical-align:top;
	background:#f5f5f5;
}
td.active {
	background:#dddddd;
}
.views-table td.views-field-title {
	/*width:80%;*/
}
.views-table td.views-field-title a {
	font-weight:bold;
}
.views-table td.views-field-field--service-categories {
	width:20%;
}
.views-table td ul {
	list-style:square;
	margin:0 0 0 10px;
	padding:0 0 0 10px;
	white-space:nowrap;
	line-height:normal;
}

.field-name-field-service-image {
	float:left;
	margin:0 20px 1.5em 0;
}

.carousel-intro {
	text-indent: -9876px;
	position: absolute;
	z-index: -1;
	overflow: hidden;
	text-decoration: none;
}


/*sidebar styles for pages like https://it.umich.edu/initiatives/cloud/content/why-cloud-services */
.sidebar h2 {
  font-size:110%; 
  color:#005596;
  font-weight:bold; 
  line-height:normal; 
  margin: 0; 
  padding: 0;
}
.sidebar ul {
  margin:8px 0 0 5px;
  padding-left:10px;
}
.sidebar li {
  margin: 0 0 .1em 0;
}

/*text styles for the project statuses*/
.Green {background-color:lime;background-color:#33cc00;padding:2px;}

.Yellow {background-color:yellow;background-color:#ffcc00;padding:2px;}

.Red {background-color:red;background-color:#eb0000;padding:2px;}
/*styles for the possible asterisk text at the end of project statuses*/
.views-field-field-status-ast-text {padding-top:8px;}

/*REMOVE THE DOTS!!!*/

/*zoomlinks for Shadowboxes*/
.zoomlink {float:right;font-size:.8em;padding-right:30px;margin-bottom:10px;}

.overviewlink {padding-right:150px;}

/* STUDENT JOBS STYLES */
.student-jobs-banner {
	background:#00274c url('/sites/all/themes/zen_services_crazy_banner/images/student-jobs-sub-banner.png') left center no-repeat !important;
	
	height:60px;
	margin-left:20px;
	text-indent:-99998px;
}

/*end student jobs styles*/


/* BUILDING-THE-BUILD BLOG STYLES */

.building-the-build-banner {
	background:#fff url('/building-the-build/sites/all/themes/zen_services_crazy_banner/images/building-the-build-banner.jpg') left center no-repeat !important;
	width:100%;
	height:100px;
	text-indent:-99998px;
}
h2.node-title a {
	display:block;
	margin-bottom:.25em;
	font-size:125%;
}
h2.node-title a:link, h2.node-title a:visited {
	color:#00274c;
	text-decoration:none;
}
h2.node-title a:hover {
	color:#cc3300;
	text-decoration:underline;
}
.submitted {
	font-style:italic;
	margin-bottom:.75em;
}
.field-name-field-tags {
	margin-bottom:1em;
	padding:10px;
	background:#f5f5f5;
}
.field-name-field-tags .field-label {
	display:inline;
}
.field-name-field-tags .field-item {
	display:inline;
	margin:0;
}
.field-name-field-tags .field-item::after {
	content:", ";
}
.field-name-field-tags .field-item:last-of-type::after {
	content:"";
}
ul.links.inline {
	margin-top:0;
	margin-left:0;
	padding-left:0;
}
ul.links li {
	margin:0;
	padding:0 !important;
}
li.node-readmore a {
/*	float:right;*/
	display:block;
	margin:0 0 1em 0;
/*	padding:10px;
	border:1px solid #cccccc;
	-webkit-border-radius:3x;
	border-radius:3px;*/
}
li.node-readmore a::after {
	content:"...";
}
li.comment-new-comments a, li.comment-comments a {
	margin-right:10px;
	text-decoration:none;
}
li.comment-add a {
	display:inline-block;
	margin:1em 0 0 0;
	padding:10px;
	border:1px solid #cccccc;
	-webkit-border-radius:3x;
	border-radius:3px;
}
li.comment-add a:link, li.comment-add a:visited {
	color:#333333;
	text-decoration:none;
}
li.comment-add a:hover {
	color:#cc3300;
}
.comment-wrapper {
	margin-top:2em !important;
}
.comment {
	padding-left:20px;
	border-left:3px solid #cccccc;
}
h3.comment-title {
	margin-bottom:0;
}
h3.comment-title a {
	color:#00274c;
	text-decoration:none;
}
li.comment-delete a, li.comment-edit a, li.comment-reply a {
	display:inline-block;
	margin:0;
	padding:2px 6px;
	border:1px solid #cccccc;
	-webkit-border-radius:3x;
	border-radius:3px;
	text-decoration:none;
}
.indented .comment {
	padding-left:20px;
	border-left:3px solid #cccccc;
}
h2.title.comment-form {
	margin-top:2em;
}

/* END BUILDING-THE-BUILD */

/*#datatable-1_paginate {display:none;visibility:hidden;}*/

#block-system-main-menu, .block-menu {
	margin:0;
}
#block-system-main-menu .menu ul {
	margin:0;
	padding:0;
}
#block-system-main-menu .menu li {
	float:left;
	margin:0;
	padding:0;
	list-style:none;
}
#block-system-main-menu .menu li.first {
}
#block-system-main-menu .menu li a {
	display:inline-block;
	margin:0;
	padding:5px 20px 5px 20px;
	text-decoration:none;
	color:#ffffff;
	line-height:30px;
}
#block-system-main-menu .menu li a:hover {
	background:#567daa;
}
#block-system-main-menu h2 {
	display:none;
}

/*for when there are repeating fieldgroups - they're the same grey #eee as the background by default - changing to very light grey */
tr.odd {
	background-color: #fffefe;
}

/*datatables testing*/
.dataTables_filter {
	float:none;
	text-align:left;
	padding-bottom:15px;
}
.field-collection-view .field-label {
	width:inherit;
}
.field-name-field-describe-your-customer-ser {
	padding-top:20px;
}
.views-exposed-form {
/*	background:#fafafa;*/
}
.comment_forbidden {
	display:none;
	visibility:hidden;
}
.group-generic-info {
	float:right;
	width:300px;
	border:1px solid #999;
	padding:15px;
	border-radius:2px;
}

.form-field-name-field-status {
	display:none;
	visibility:hidden;
}

.views-field-field-for-which-position-s-are-y ul li {margin-bottom:4px;}

/*remove borders on fieldsets*/
.filter-wrapper {margin-bottom:20px;}
#edit-field-employment-history-und-0-remove-button {margin-bottom:20px;}
/*.form-submit {padding:7px;}*/

#block-formblock-application fieldset {border:none;border-image:none;padding-left:0;margin-bottom:0;padding-bottom:0;    
	-webkit-margin-start: 0;
    -webkit-margin-end: 2px;
    -webkit-padding-before: 0em;
    -webkit-padding-start: 0em;
    -webkit-padding-end: 0.75em;
    -webkit-padding-after: 0em;}

#field-position-specific-question-add-more-wrapper fieldset {display: block;
    -webkit-margin-start: 2px;
    -webkit-margin-end: 2px;
    -webkit-padding-before: 0.35em;
    -webkit-padding-start: 0.75em;
    -webkit-padding-end: 0.75em;
    -webkit-padding-after: 0.625em;
    border: 1px solid #bbb;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    min-width: -webkit-min-content;padding:0 12px 0 12px;}
	
#block-formblock-application .date-padding {padding-bottom:0;}
#field-i-expect-to-graduatei-expe-add-more-wrapper legend {font-weight:bold;}
.form-item-field-i-expect-to-graduatei-expe-und-0-value {margin-bottom:0 !important;}
#edit-field-i-expect-to-graduatei-expe-und-0-value {padding-bottom:0;}

#field-employment-history-und-0-field-start-date-add-more-wrapper legend {font-weight:bold;}

#field-employment-history-und-0-field-end-date-add-more-wrapper legend {font-weight:bold;}
.field-name-field-end-date- {padding-bottom:15px;}
.field-name-field-job-title {margin-bottom:20px;}
.field-name-field-employer- {margin-top:15px;}

/*hiding miworkspace ops - don't ask*/
.form-item-field-for-which-position-s-are-y-und-MiWorkspace-Operations {display:none;visibility:hidden;}
.form-item-field-position-specific-question-und-0-field-4help-und-0-field-cover-letter-und-0 .description {font-size:12px !important;margin-top:10px;}
#edit-field-position-specific-question-und-0 fieldset {margin-bottom:10px;}
.tabledrag-toggle-weight-wrapper {display:none;visibility:hidden;}
/*end schleif edits*/